:root {
    --bg: #f7f6f5;
    --txt: #25211f;
    --hdr: #1c1917;
    --inactive: #ddd6d3;
}

body {
    background-image: url("/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--txt);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#banner {
    height: 200px;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 0;
    background-image: url("/banner.jpg");
    background-position: center;
    background-size: cover;
}

main {
    max-width: 1400px;
    margin: auto;
    background: var(--bg);
	border: solid 2px black;
}

.header {
    background: black;
}

nav {
    padding: 1rem;
}

nav ul {
    display: inline;
    padding: 1rem;
}
nav li {
    display: inline;
    font-size: 1.5rem;
    margin-right: 25px;
}

nav a {
    color: var(--inactive);
    text-decoration: none;
}

nav a:hover {
    color: var(--bg);
    text-decoration: none;
}

active {
    color: var(--bg);
}

nav li:last-child {
    margin-right: auto;    
}

article {
    max-width: 60rem;
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    grid-row: auto/auto;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-gap: 8px;
}

.grid img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
	border: solid 2px black;
}

.mapart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.mapart img {
    width: 100%;
    height: 100%;
}

.map {
grid-column: 1 / span 1;
grid-row: 1 / span 1;

}

.twoxone {
}

.onextwo {

}

.twoxtwo {

}



